.block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
}

.block__row {
    display: flex;
    gap: 5px;
}

.block__cell {
    width: 35px;
    height: 35px;

    &--draggable {
        cursor: move;
    }
}

.block--small {
    gap: 2px;

    .block__row {
        gap: 2px;
    }

    .block__cell {
        width: 18px;
        height: 18px;
    }
}
