.error {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error__message {
    font-weight: 400;
    font-size: 128px;
    letter-spacing: 0.1em;
}
