@use "constants";

.game-stake {
    display: flex;
    flex-direction: column;
    gap: 8px;

    letter-spacing: 0.1em;
}

.game-stake__title {
    font-size: 12px;
}

.game-stake__value {
    font-size: 15px;
}

.new-game .page-container__content,
.game .page-container__content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: calc(100% - 83px);
    padding: 0;
}

.delimiter {
    flex: 1;
    height: 100%;

    background-color: white;
}

.game-board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: calc(50% - 3px);
    padding-top: 17px;
}

.game-board__row {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.game-board__cell {
    width: 34px;
    height: 34px;

    background-color: #e5e5e5;

    &--hit,
    &--miss {
        border: 4px solid #e5e5e5;
    }

    &--hit {
        background-color: #8c1110;
    }

    &--miss {
        background-color: #9b9b9b;
    }

    &--try {
        background-color: #474747;
    }
}

.game-board__message {
    margin-top: 60px;

    font-size: 24px;
}

.game-board__toggle-grid {
    margin-top: 100px;

    font-size: 12px;
}

.game-board__placement {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.game-board__placement__title {
    align-self: flex-start;
    margin-left: 15px;

    font-size: 14px;
}

.game-board__placement__inventory {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100% - 30px);
    height: 100px;
    padding: 10px;
    overflow-y: scroll;

    border: 4px solid white;
}

.game-board__placement__submit {
    margin-top: 5px;

    font-size: 12px;

    cursor: pointer;
}

@media only screen and (hover: hover) {
    .game-board__placement__submit:hover {
        color: red;
        /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
        transition: color 0.3s ease-in-out;
    }
}

@media only screen and (max-width: constants.$desktop-breakpoint) {
    .game-board {
        gap: 4px;
        width: 100%;
    }

    .game-board__row {
        gap: 4px;
    }

    .game-board__cell {
        width: 30px;
        height: 30px;
    }

    .new-game .page-container__content,
    .game .page-container__content {
        height: calc(100% - 63px);
    }

    .game-board__placement {
        margin-top: 26px;
    }

    .game-board__placement__inventory {
        height: 180px;
    }

    .game-board__placement__submit {
        margin-top: 10px;
    }
}
