.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 60px 0 30px;
}

.logo {
    font-weight: 400;
    font-size: 59px;
    line-height: 59px;
    letter-spacing: 0.1em;

    cursor: default;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
}

.footer__navigation {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
}

.footer__user-info {
    display: flex;
    gap: 8px;

    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
}
