@use "constants";

.create-match {
    cursor: pointer;
}

.page-container__content__table tbody tr.load-more__row {
    position: absolute;
    bottom: -50px;

    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;

    background-color: black;

    border-top: none;
}

.load-more__cell {
    display: flex;
    align-items: center;
}

.load-more {
    color: white;

    cursor: pointer;
}

@media only screen and (hover: hover) {
    .create-match:hover {
        color: red;
        /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
        transition: color 0.3s ease-in-out;
    }

    .load-more:hover {
        color: red;
        /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
        transition: color 0.3s ease-in-out;
    }
}

@media only screen and (max-width: constants.$desktop-breakpoint) {
    .lobby .page-container__content__table thead th:nth-child(2) {
        text-align: center;
    }
}
