.create-match {
    cursor: pointer;

    &:hover {
        color: red;
        /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
        transition: color 0.3s ease-in-out;
    }
}

.load-more__row {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    width: 100%;
}

.load-more {
    color: white;

    cursor: pointer;
}
