.profile__wallet-container {
    display: flex;
    gap: 10px;
    margin: 16px 0;
}

.profile__wallet-container__battleblocks,
.profile__wallet-container__custodial,
.profile__wallet-container__connect,
.profile__wallet-container__connected {
    width: 50%;
    padding: 32px 0;

    color: black;
    text-align: center;

    background-color: #e5e5e5;
}

.profile__wallet-container__connect {
    cursor: pointer;
}

.logout {
    cursor: pointer;

    &:hover {
        color: red;

        /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
        transition: color 0.3s ease-in-out;
    }
}
