.table-item {
    font-weight: 400;

    cursor: pointer;

    &--deactivated {
        filter: brightness(0.5);
    }
}

.table-item__property {
    font-size: 15px;
}

@media only screen and (hover: hover) {
    .table-item:hover {
        opacity: 0.8;
    }
}
