.shop-item {
    font-weight: 400;
    line-height: 1;

    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.shop-item__name,
.shop-item__block-type,
.shop-item__rarity,
.shop-item__price {
    font-size: 15px;
}
