@use "reset";
@use "loader";
@use "patterns";
@use "home";
@use "lobby";
@use "game";
@use "profile";
@use "table";
@use "block";
@use "error";
@use "login";
@use "modal";
@use "constants";

// noinspection CssUnknownTarget
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

@font-face {
    font-weight: 400;
    font-family: modeseven;
    src:
        url("./modeseven.woff") format("woff"),
        url("./modeseven.woff2") format("woff2");
}

html {
    height: 100%;
}

body {
    height: 100%;

    color: white;
    font-family: modeseven, monospace;
    line-height: 1;
    text-transform: uppercase;

    background-color: black;
}

#root {
    height: 100%;
}

.page-container {
    width: 850px;
    height: 650px;
    padding: 0 5px 5px;

    background-color: white;
}

.page-container__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 14px;

    color: black;
    font-weight: 400;
    font-size: 16px;
}

.page-container__content {
    width: 100%;
    height: calc(100% - 64px);
    padding: 0 8px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    background-color: black;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    &--scrollable {
        overflow-y: scroll;
    }
}

.page-container__content__table {
    width: 100%;
    margin-bottom: 8px;

    text-align: center;

    thead {
        position: sticky;
        top: 0;
        z-index: 2;

        background-color: black;

        th {
            padding: 12px 0 8px;

            &:nth-child(-n+2) {
                text-align: left;
            }
        }
    }

    tbody {
        position: relative;

        color: black;

        tr {
            height: 70px;

            background-color: #e5e5e5;
            border-top: 8px solid black;

            td {
                padding: 0 13px;

                vertical-align: middle;

                &:first-of-type {
                    text-align: left;
                }
            }
        }
    }
}

.login-page__message {
    position: absolute;
    top: 60%;
    left: 50%;

    text-align: center;

    transform: translate(-50%, -50%);
}

.draggable-component {
    transform: translate(0, 0);
}

.react-tooltip {
    z-index: 9;
}

@media only screen and (hover: hover) {
    a:hover {
        color: red;

        /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
        transition: color 0.3s ease-in-out;
    }
}

@media only screen and (max-width: constants.$desktop-breakpoint) {
    .page-container {
        width: 95%;
        height: calc(100% - 100px - 20px);
    }

    .page-container__title {
        margin: 10px 8px;

        font-size: 12px;
    }

    .page-container__content {
        height: calc(100% - 32px);
    }

    .page-container__content__table {
        thead th {
            padding: 8px 0 4px;

            font-size: 15px;
        }

        tbody tr {
            height: 50px;

            border-top-width: 5px;
        }
    }
}
